<div class="cars">
    <div class="car">
        <a href="/cars{{id}}" class="car-link">{{make}} {{model}} {{year}}</a>
    </div>
    <div class="commute">
        <a href="/dashboard/commute/{{car.id}}" class="commute-link">This car has {{commute.length}} {{format_plural "commute" commute.length}}</a>
    </div>
    <div class="gas">
        <a href="/dashboard/gas/{{car.id}}" class="gas-link">This car has {{gas.length}} gas {{format_plural "price" gas.length}}</a>
    </div>
</div>