<div class="cars">
    <div class="car">
        <a href="/dashboard/car/{{id}}" class="car-link">{{Make}} {{Model}} {{Year}}</a></br>
        <a href="/dashboard/car/{{id}}" class="car-info-link">This car has {{commutes.length}} {{format_plural "commute" commutes.length}}</a></br>
        <a href="/dashboard/car/{{id}}" class="car-info-link">This car has {{gas.length}} gas {{format_plural "price" gas.length}}</a>
    </div>
</div>